/* 工具類
-------------------------------------------------- */

$utilities: () !default;

$utilities: map-merge(
  (
    'width': (
      responsive: true,
      property: width,
      class: w,
      values: (
        25: 25%,
        50: 50%,
        75: 75%,
        100: 100%,
        auto: auto,
      ),
    ),
    'viewport-height': (
      responsive: true,
      property: height,
      class: vh,
      values: (
        100: 100vh,
      ),
    ),
    'line-height': (
      responsive: true,
      property: line-height,
      class: lh,
      values: (
        1: 1,
        sm: $line-height-sm,
        base: $line-height-base,
        lg: $line-height-lg,
      ),
    ),
    'font-size': (
      responsive: true,
      property: font-size,
      class: fz,
      values: (
        sm: $font-size-sm,
        base: $font-size-base,
        lg: $font-size-lg,
      ),
    ),
    'font-weight': (
      responsive: true,
      property: font-weight,
      values: (
        light: $font-weight-light,
        lighter: $font-weight-lighter,
        normal: $font-weight-normal,
        bold: $font-weight-bold,
        bolder: $font-weight-bolder,
      ),
    ),
    'background-color': (
      responsive: true,
      property: background-color,
      class: bg,
      values:
        map-merge(
          $theme-colors,
          (
            'body': $body-bg,
            'white': $white,
            'transparent': transparent,
          )
        ),
    ),
    'color': (
      responsive: true,
      property: color,
      class: text,
      values:
        map-merge(
          $theme-colors,
          (
            'white': $white,
            'body': $body-color,
            'muted': $text-muted,
            'black': $black,
            'black-50': rgba($black, 0.5),
            'white-50': rgba($white, 0.5),
            'reset': inherit,
          )
        ),
    ),
    'border-top': (
      responsive: true,
      property: border-top,
      values: (
        null: $border-width solid $border-color,
        0: 0,
      ),
    ),
    'border-bottom': (
      responsive: true,
      property: border-bottom,
      values: (
        null: $border-width solid $border-color,
        0: 0,
      ),
    ),
  ),
  $utilities
);
