/* 確認介面
-------------------------------------------------- */

@include block(confirm) {
  bottom: 0;
  font-size: 12px;
  line-height: $line-height-lg;
  background-color: $custom-gray-500;
  color: $custom-gray-100;
  border-radius: 0.5rem 0.5rem 0 0;
  .title {
    font-size: 1.5rem !important;
    color: $custom-gray-800;
  }
  .card {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: transparent;
  }
  @include element(btnGroup) {
    display: flex;
    justify-content: space-between;
    .btn {
      padding-top: 17px;
      padding-bottom: 17px;
      width: 48.78787%;
    }
  }
}
