/* 確認介面
-------------------------------------------------- */

@include block(confirm) {
  background-color: $custom-gray-500;
  border-radius: 8px 8px 0 0;
  .card {
    background-color: transparent;
  }
  .btn {
    padding-top: 17px;
    padding-bottom: 17px;
    width: 48.78787%;
    line-height: $line-height-lg;
    font-weight: bold;
  }
}
