/* 過濾器
-------------------------------------------------- */

@include block(filter) {
  .border-bottom {
    border-color: $white !important;
  }
  .custom-control-label {
    display: block;
    line-height: $line-height-lg;
    color: $custom-gray-400;
    @include media-breakpoint-up(md) {
      font-size: 14px;
    }
    &::before,
    &::after {
      top: 2px;
    }
    &::before {
      background-color: $secondary;
      border-radius: 0;
      border-color: $custom-gray-500;
    }
  }
  // 標題
  .title {
    font-size: $font-size-base !important;
    font-family: $font-family-opensans;
  }
  // 預算
  @include element(budget) {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include element(item) {
      padding: 0.5rem;
      width: 46.51162%;
      font-size: 12px;
      line-height: $line-height-lg;
      background-color: $white;
      color: $custom-gray-400;
      border-radius: 0.25rem;
      @include media-breakpoint-up(md) {
        width: 50%;
      }
      @include media-breakpoint-up(lg) {
        font-size: 14px;
      }
    }
    @include element(title) {
      font-size: 12px;
      line-height: $line-height-lg;
      font-weight: bold;
      color: $custom-gray-500;
    }
  }
  // 評分
  @include element(rating) {
    .custom-control-label {
      display: flex;
      align-items: center;
      color: $custom-gray-400;
    }
    .material-icons {
      font-size: 18px;
      color: $custom-gray-500;
    }
  }
}
