/* 搜尋
-------------------------------------------------- */

.search {
  background-color: $secondary;
  .card {
    margin-left: -15px;
    margin-right: -15px;
    line-height: $line-height-lg;
    background-color: transparent;
    @include media-breakpoint-up(md) {
      margin-left: 0;
      margin-right: 0;
    }
  }
  .form-group {
    position: relative;
    width: 33.33333%;
    @include media-breakpoint-up(md) {
      width: 26.08695%;
    }
    @include media-breakpoint-up(lg) {
      width: 28.1081%;
    }
    // 分隔線
    .divider {
      left: auto;
      right: 0;
      @include media-breakpoint-up(lg) {
        left: 50%;
        right: 50%;
      }
    }
  }
  .btn {
    line-height: $line-height-lg;
    font-weight: bold;
  }
  .dropdown-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: left;
    font-size: 12px;
    line-height: $line-height-lg;
    font-weight: 500;
    background-color: transparent;
    color: $custom-gray-400;
    @include media-breakpoint-up(md) {
      justify-content: start;
      background-color: $white;
    }
    &::after {
      display: none;
    }
    &__title {
      font-size: 12px;
      line-height: $line-height-lg;
      color: $custom-gray-500;
      font-weight: bold;
    }
    .material-icons {
      color: $custom-gray-500;
    }
  }
  .dropdown-menu {
    font-size: 12px;
    line-height: $line-height-lg;
    right: 0;
  }
  .dropdown-item {
    display: flex;
    &__title {
      font-size: 1rem;
      line-height: $line-height-lg;
    }
    &__text {
      display: flex;
      align-items: center;
      font-size: 14px;
      line-height: $line-height-sm;
      color: $custom-gray-400;
    }
  }
  // 客人數列表
  @include element(guestList) {
    z-index: 9999;
    .dropdown-item {
      justify-content: space-between;
      align-items: center;
      &__text {
        font-size: $font-size-base;
        color: $custom-gray-500;
      }
    }
  }
}
