.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  // -webkit-box-align: center;
  // -ms-flex-align: center;
  // -webkit-align-items: center;
  // align-items: center;
}

.swiper-button-next,
.swiper-button-prev {
  top: 82px;
  transform: translateY(-50%);
  z-index: 1;
  &:focus {
    outline: none;
  }
  @include media-breakpoint-up(md) {
    top: 92.5px;
  }
  @include media-breakpoint-up(lg) {
    top: 87.5px;
  }
  .material-icons {
    background-color: $secondary;
    border: 0.5rem solid $secondary;
    border-radius: 50%;
  }
}
.swiper-button-next {
  right: 0;
}
.swiper-button-prev {
  left: 0;
}
