/* 訂房詳細資訊
-------------------------------------------------- */

@include block(detail) {
  // 輪播
  .carousel {
    .carousel-item {
      &__img {
        display: block;
        width: 100%;
        height: 247px;
        object-fit: cover;
      }
    }
    .material-icons {
      color: $white;
    }
  }
  // 房間相簿
  @include element(album) {
    .btn {
      padding: 0.5rem;
      width: 100%;
      font-size: 12px;
      line-height: $line-height-lg;
      font-weight: bold;
      border: none;
      @include media-breakpoint-up(lg) {
        padding: 1rem;
        line-height: 22px;
        font-size: $font-size-base;
      }
    }
    @include element(img) {
      width: 100%;
      border-radius: 0.25rem;
      object-fit: cover;
      @include modifier(main) {
        height: 268px;
        @include media-breakpoint-up(lg) {
          height: 434px;
        }
      }
      @include modifier(second) {
        height: 132px;
        @include media-breakpoint-up(lg) {
          height: 213px;
        }
      }
      @include modifier(small) {
        height: 93px;
        @include media-breakpoint-up(lg) {
          height: 151px;
        }
      }
    }
  }
  // 房間描述
  @include element(description) {
    font-size: 14px;
    line-height: $line-height-lg;
    color: $custom-gray-400;
    .title {
      font-size: 2rem;
      color: $custom-gray-500;
    }
    .material-icons {
      font-size: 18px;
      color: $custom-gray-500;
    }
    @include modifier(link) {
      display: block;
      font-size: 12px;
      @include media-breakpoint-up(md) {
        font-size: 14px;
      }
    }
  }
  // 選擇房間
  @include element(selectRoom) {
    line-height: $line-height-lg;
    color: $custom-gray-400;
    .card {
      border: solid $secondary;
      border-width: 1px 1px 0 0;
      border-radius: 0.25rem;
    }
    .card-img {
      width: 150px;
      height: 150px;
      border-radius: 0.25rem 0 0 0;
      object-fit: cover;
    }
    .card-body {
      padding-left: 0.5rem;
      padding-right: 14px;
    }
    .card-title {
      margin-bottom: 0.25rem;
      font-size: $font-size-base;
      font-weight: bold;
      color: $custom-gray-500;
    }
    // 房間功能
    @include element(function) {
      display: flex;
      margin-bottom: 0.5rem;
      .material-icons {
        margin-right: 0.5rem;
        font-size: 18px;
      }
    }
    @include modifier(small) {
      font-size: 12px;
    }
  }
}
