/* 訂房詳細資訊
-------------------------------------------------- */

@include block(detail) {
  // 輪播
  .carousel {
    .carousel-item {
      &__img {
        display: block;
        width: 100%;
        height: 247px;
        object-fit: cover;
      }
    }
    .material-icons {
      color: $white;
    }
  }
  // 預定確認 modal
  .modal-dialog {
    display: flex;
    align-items: flex-end;
    margin: 0 auto;
    height: 100%;
    @include media-breakpoint-up(md) {
      max-width: 100%;
    }
  }
  .modal-content {
    background-color: transparent;
    border: 0;
  }
  .modal-body {
    border-radius: 0.5rem;
  }
  // 房間相簿
  @include element(album) {
    .btn {
      padding: 0.5rem;
      width: 100%;
      font-size: 12px;
      border: none;
      @include media-breakpoint-up(lg) {
        padding: 1rem;
        line-height: 22px;
        font-size: $font-size-base;
      }
    }
    @include element(img) {
      width: 100%;
      border-radius: 0.25rem;
      object-fit: cover;
      @include modifier(large) {
        height: 268px;
        @include media-breakpoint-up(lg) {
          height: 434px;
        }
      }
      @include modifier(medium) {
        height: 132px;
        @include media-breakpoint-up(lg) {
          height: 213px;
        }
      }
      @include modifier(small) {
        height: 93px;
        @include media-breakpoint-up(lg) {
          height: 151px;
        }
      }
    }
  }
  // 房間描述
  @include element(description) {
    font-size: 14px;
    line-height: $line-height-lg;
    color: $custom-gray-400;
    .title {
      font-size: 2rem;
      color: $custom-gray-500;
    }
    .material-icons {
      font-size: 18px;
      color: $custom-gray-500;
    }
    // 文字連結
    @include modifier(textLink) {
      display: block;
      font-size: 12px;
      @include media-breakpoint-up(md) {
        font-size: 14px;
      }
    }
  }
  // 選擇房間
  @include element(selectRoom) {
    .title {
      margin-bottom: 0.5rem;
      @include media-breakpoint-up(md) {
        margin-bottom: 1.5rem;
      }
    }
    .badge {
      margin-right: 0.5rem;
      padding: 0.5rem 1rem;
      font-size: 14px;
      font-weight: normal;
      color: $custom-gray-400;
    }
    .table {
      margin-bottom: 0;
      line-height: $line-height-lg;
      color: $custom-gray-400;
      thead {
        display: none;
        @include media-breakpoint-up(md) {
          display: table-header-group;
        }
        th {
          padding: 0 0 0.5rem 0;
          border-top: 0;
          border-bottom: 1px solid $secondary;
          color: $black;
          &:not(:first-child) {
            text-align: center;
          }
        }
      }
      tbody {
        td {
          padding: 0.5rem 0 0;
          vertical-align: middle;
          border-top: 0;
          @include media-breakpoint-up(md) {
            padding: 1.5rem 0 1rem;
            border-top: 1px solid $secondary;
          }
          @include media-breakpoint-up(lg) {
            padding-bottom: 1.5rem;
          }
          &:not(:first-child) {
            display: none;
            text-align: center;
            @include media-breakpoint-up(md) {
              display: table-cell;
              padding-left: 1rem;
              padding-right: 1rem;
            }
            @include media-breakpoint-up(md) {
              padding-left: 1.5rem;
              padding-right: 1.5rem;
            }
          }
          &:last-child {
            @include media-breakpoint-up(md) {
              padding-right: 0;
            }
            @include media-breakpoint-up(lg) {
              padding-right: 1.5rem;
            }
          }
        }
        tr:last-child {
          td {
            @include media-breakpoint-up(md) {
              padding-bottom: 0;
            }
          }
        }
      }
    }
    .card {
      border: solid $secondary;
      border-width: 1px 1px 0 0;
      @include media-breakpoint-up(md) {
        border: 0;
      }
      &__side {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 0;
        background-color: $secondary;
        border-radius: 0 0 0.25rem 0.25rem;
        @include media-breakpoint-up(md) {
          display: none;
        }
      }
    }
    .card-img {
      width: 100%;
      height: 150px;
      border-radius: 0.25rem 0 0 0;
      object-fit: cover;
      @include media-breakpoint-up(md) {
        border-radius: 0.25rem 0 0 0.25rem;
      }
      @include media-breakpoint-up(lg) {
        height: 175px;
      }
    }
    .card-body {
      padding-left: 0.5rem;
      padding-right: 1.5rem;
      @include media-breakpoint-up(md) {
        padding-right: 0;
      }
      @include media-breakpoint-up(lg) {
        padding-left: 1rem;
      }
    }
    .card-title {
      margin-bottom: 0.25rem;
      font-size: $font-size-base;
      font-weight: bold;
      color: $custom-gray-500;
      @include media-breakpoint-up(md) {
        margin-bottom: 0;
      }
      @include media-breakpoint-up(lg) {
        margin-bottom: 0.25rem;
      }
    }
    // 房間功能
    @include element(function) {
      display: flex;
      flex-wrap: wrap;
      width: 156px;
      font-size: 14px;
      @include media-breakpoint-up(md) {
        width: 132px;
      }
      @include media-breakpoint-up(lg) {
        flex-direction: column;
        width: auto;
        height: 116px;
      }
      .material-icons {
        margin-right: 0.5rem;
        font-size: 18px;
        @include media-breakpoint-up(md) {
          margin-right: 0.25rem;
        }
      }
      // 高度垂直致中
      @include element(item) {
        display: flex;
        align-items: center;
        margin-bottom: 0.5rem;
        @include media-breakpoint-up(lg) {
          width: 50%;
        }
      }
    }
    // 訂房數量
    @include element(count) {
      display: flex;
      justify-content: space-between;
      padding-left: 8px;
      @include media-breakpoint-up(md) {
        padding-left: 0;
      }
      .btn {
        padding: 0;
        border: 0;
      }
      .form-control {
        padding: 0;
        height: auto;
        text-align: center;
        line-height: $line-height-lg;
        background-color: transparent;
        color: $custom-gray-400;
        border: 0;
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
        }
      }
    }
    // 固定寬度
    @include modifier(widthFixed) {
      flex-shrink: 0;
      width: 150px;
      @include media-breakpoint-up(lg) {
        width: 255px;
      }
    }
    // 較小字體
    @include modifier(textSmall) {
      font-size: 12px;
    }
  }
}
