/* 首頁
-------------------------------------------------- */

@include block(index) {
  // 輪播
  .carousel {
    img {
      height: 315px;
      object-fit: cover;
      @include media-breakpoint-up(md) {
        height: 320px;
      }
    }
    .carousel-caption {
      top: 50%;
      bottom: auto;
      left: 0;
      right: 0;
      transform: translateY(-50%);
      font-family: $font-family-raleway;
      z-index: 0;
    }
    .material-icons {
      z-index: 1;
    }
  }

  // 搜尋
  @include element(search) {
    .form-group {
      @include media-breakpoint-up(lg) {
        width: 25.21739%;
      }
    }
    .card {
      margin-top: -3.5rem;
    }
    .dropdown-toggle {
      @include text-truncate();
      &::after {
        display: none;
      }
    }
    .dropdown-menu {
      right: 0;
    }
    button[type='submit'] {
      padding-top: 17px;
      padding-bottom: 17px;
    }
  }

  @include element(top) {
    img {
      height: 164px;
      object-fit: cover;
      @include media-breakpoint-up(md) {
        height: 185px;
      }
      @include media-breakpoint-up(lg) {
        height: 175px;
      }
    }
    .nav-link {
      font-size: 20px;
      line-height: 1.8;
      color: $custom-gray-400;
      border-bottom: 2px solid $secondary;
    }
    .card-img-top {
      border-bottom-left-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
    }
    .card-text {
      .material-icons {
        font-size: 18px;
      }
    }
    // 觀看數
    @include element(reviews) {
      font-size: 12px;
    }
    // 售價
    @include element(price) {
      del {
        font-size: 12px;
      }
    }
  }

  // 熱門景點
  @include element(popular) {
    img {
      height: 78px;
      object-fit: cover;
    }
    .card::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: transparent
        linear-gradient(270deg, #00000000 0%, #000000 100%);
      border-radius: 0.5rem;
    }
    .card-title {
      font-size: 12px;
    }
    .card-text {
      font-family: $font-family-raleway;
    }
  }

  // 取得靈感
  @include element(inspiration) {
    img {
      height: 181px;
      object-fit: cover;
    }
    .card-img-top {
      border-bottom-left-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
    }
    .card-title {
      font-size: 20px;
      font-family: $font-family-raleway;
    }
    .card-text {
      font-size: 12px;
    }
  }
}
