/* 登入
-------------------------------------------------- */

@include block(login) {
  @include media-breakpoint-up(md) {
    margin-top: -72px;
  }
  .title {
    font-size: 2rem;
  }
  .form-group {
    &__text {
      margin-bottom: 0.25rem;
      line-height: $line-height-lg;
      color: $custom-gray-400;
    }
  }
  .form-control {
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: auto;
  }
  .btn {
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    font-weight: bold;
    line-height: $line-height-lg;
  }
  // 隱私說明
  @include element(privacy) {
    font-size: 12px;
    line-height: $line-height-lg;
    color: $custom-gray-400;
  }
  // 地標
  @include element(location) {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    font-size: 14px;
    line-height: $line-height-lg;
    background-color: $custom-gray-600;
    color: $white;
    border-radius: 0.25rem;
    .material-icons {
      font-size: 18px;
    }
  }
  // 背景圖
  @include element(background) {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    .bg-cover {
      background: url('../assets/images/matt-reames-xTAKAaPbFwM-unsplash.jpg')
        center/cover no-repeat;
    }
  }
}
