/* 登入
-------------------------------------------------- */

@include block(login) {
  padding-top: 24px;
  @include media-breakpoint-up(md) {
    background: url('../assets/images/matt-reames-xTAKAaPbFwM-unsplash.jpg')
      center/cover no-repeat;
    padding-top: 81.72px;
    margin-top: -57.72px;
  }
  @include element(title) {
    font-size: 2rem;
    line-height: 3rem;
    font-family: $font-family-raleway;
  }
  @include element(privacy) {
    font-size: 12px;
  }
  @include element(remember) {
    @include modifier(checked) {
      display: none;
    }
    @include element(checkbox) {
      &:checked {
        & ~ .material-icons {
          display: none;
        }
        & ~ .login__remember--checked {
          display: block;
        }
      }
    }
  }
  // 地標
  @include element(location) {
    .material-icons {
      font-size: 18px;
    }
  }
}
