/* 登入
-------------------------------------------------- */

@include block(login) {
  @include media-breakpoint-up(md) {
    margin-top: -72px;
  }
  @include element(title) {
    font-size: 3rem;
    line-height: 4rem;
    font-family: $font-family-raleway;
  }
  @include element(privacy) {
    font-size: 12px;
  }
  @include element(remember) {
    @include modifier(checked) {
      display: none;
    }
    @include element(checkbox) {
      &:checked {
        & ~ .material-icons {
          display: none;
        }
        & ~ .login__remember--checked {
          display: block;
        }
      }
    }
  }
  // 地標
  @include element(location) {
    .material-icons {
      font-size: 18px;
    }
  }
  // 背景圖
  @include element(background) {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url('../assets/images/matt-reames-xTAKAaPbFwM-unsplash.jpg')
      center/cover no-repeat;
    z-index: -1;
    @include media-breakpoint-up(lg) {
      // right: 36.32812%;
    }
  }
  form {
    legend {
      font-size: 2rem;
      font-family: $font-family-raleway;
    }
  }
}
