/* 預訂已收到
-------------------------------------------------- */

@include block(reservationReceived) {
  .title {
    margin-bottom: 0;
    padding-bottom: 1.5rem;
    @include media-breakpoint-up(md) {
      padding-bottom: 2rem;
      font-size: 2rem;
      border-bottom: 1px solid $secondary;
    }
  }
  @include element(list) {
    padding: 1.5rem 0;
    font-size: 14px;
    line-height: $line-height-lg;
    color: $custom-gray-400;
    @include media-breakpoint-up(md) {
      font-size: $font-size-base;
      border-bottom: 1px solid $secondary;
    }
    &__title {
      font-weight: bold;
      color: $custom-gray-600;
    }
  }
  @include element(btnGroup) {
    padding-bottom: 3rem;
    @include media-breakpoint-up(md) {
      padding-bottom: 387px;
      border-bottom: 1px solid $secondary;
    }
    @include media-breakpoint-up(lg) {
      padding-bottom: 163px;
    }
    .btn {
      padding: 1rem 2rem;
      width: 100%;
      @include media-breakpoint-up(md) {
        width: auto;
      }
    }
  }
}
