/* 搜尋結果
-------------------------------------------------- */

@include block(searchResult) {
  .modal-header {
    top: 0;
    background-color: $white;
    z-index: 1;
  }
  .modal-footer {
    bottom: 0;
    z-index: 1;
  }
  // 工具類
  @include element(tools) {
    .btn {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 13px;
      padding-bottom: 12px;
      width: 50%;
      font-size: 14px;
      line-height: 1.5;
      font-weight: bold;
      &:focus {
        color: $primary;
        box-shadow: initial;
      }
    }
    .dropdown {
      position: static;
    }
    .dropdown-toggle::after {
      display: none;
    }
    .dropdown-menu {
      left: 15px !important;
      right: 15px;
      transform: translateY(51px) !important;
    }
    .dropdown-item {
      font-size: 14px;
      line-height: 1.5;
      font-weight: bold;
      &.active {
        background-color: transparent;
        color: $primary;
      }
    }
  }
  .padding {
    padding-bottom: 500px;
  }
}
