/* 頁尾
-------------------------------------------------- */

@include block(footer) {
  .btn {
    line-height: 1.5;
    font-weight: bold;
  }
  // 贊助
  @include element(subscribe) {
    background-color: $secondary;
    .title {
      text-align: center;
      @include media-breakpoint-up(md) {
        font-size: 3rem;
        font-weight: 900;
      }
    }
    .form-control {
      padding: 1rem 0 18px 21px;
      &::placeholder {
        color: $custom-gray-400;
      }
    }
    .btn {
      right: 0;
      bottom: 0;
      padding-top: 17px;
      padding-bottom: 17px;
    }
    @include media-breakpoint-up(md) {
      padding: 92px 0;
    }
  }

  @include element(content) {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    @include media-breakpoint-up(lg) {
      padding-top: 26px;
      padding-bottom: 26px;
    }
    @include element(list) {
      display: flex;
      justify-content: center;
      @include media-breakpoint-up(md) {
        justify-content: flex-end;
      }
      @include media-breakpoint-up(lg) {
        justify-content: center;
      }
    }
    @include element(item) {
      display: block;
      font-size: 14px;
      line-height: $line-height-lg;
      color: $custom-gray-400;
    }
    .dropdown-toggle {
      display: flex;
      align-items: center;
      font-size: 14px;
      line-height: $line-height-lg;
      background-color: transparent;
      color: $custom-gray-400;
      border: none;
      &:focus {
        outline: none;
      }
      .material-icons {
        color: $custom-gray-500;
      }
    }
  }
  // copyright
  @include element(copyright) {
    text-align: center;
    font-size: 14px;
    line-height: $line-height-lg;
    color: $custom-gray-400;
    @include media-breakpoint-up(md) {
      text-align: left;
    }
  }
}
