/* 頁首
-------------------------------------------------- */

@include block(header) {
  z-index: 1;
  .nav-link {
    font-family: $font-family-roboto;
    .rounded-circle {
      width: 24px;
      height: 24px;
      border: 2px solid $primary;
      object-fit: cover;
    }
  }
  .nav-item {
    border-bottom: 1px solid $secondary;
    @include media-breakpoint-up(md) {
      border-bottom: 0;
    }
  }
}
