/* 頁首
-------------------------------------------------- */

@include block(header) {
  .nav-link {
    font-family: $font-family-roboto;
    .rounded-circle {
      width: 24px;
      height: 24px;
      border: 2px solid $primary;
      object-fit: cover;
    }
  }
}

// 簡易版型的頁首
@include block(simpleHeader) {
  z-index: 1;
}
