---
title: 登入
layout: ./app/layouts/simple-layout.ejs
engine: ejs
current: index
---

<main class="login position-relative vh-md-100 pt-4 pt-md-13">
  <section class="container h-100">
    <div class="row h-100">
      <div class="col-lg-6 d-none d-lg-block">
        <h2 class="title mb-3 fz-3 font-weight-extraBold">
          An ideal hotel makes a wonderful Trip.
        </h2>
        <p class="fz-sm lh-lg text-custom-gray-400">
          Discover your dream destination and hotel on ALOHA.com
        </p>
      </div>
      <div class="col-12 offset-md-3 offset-lg-2 col-md-6 col-lg-4">
        <form action="javascript:;" class="mb-2">
          <fieldset>
            <legend class="title mb-3">
              Login
            </legend>
            <div class="form-group">
              <label for="email" class="form-group__text">Email</label>
              <input
                type="email"
                class="form-control"
                id="email"
                aria-describedby="emailHelp"
              />
            </div>
            <div class="form-group mb-4">
              <label for="password" class="form-group__text">Passwords</label>
              <input type="password" class="form-control" id="password" />
            </div>
            <!-- 隱私說明 -->
            <div class="form-group">
              <p class="login__privacy">
                By signing in or creating an account, you agree with our
                <a href="javascript:;">Terms & Conditions</a> and
                <a href="javascript:;">Privacy Statement</a>
              </p>
            </div>
            <div class="form-group mb-5">
              <div class="custom-control custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="rememberMe"
                />
                <label class="custom-control-label" for="rememberMe"
                  >Remember me</label
                >
              </div>
            </div>
            <a href="user.html" class="btn btn-primary">
              LOGIN
            </a>
          </fieldset>
        </form>
        <p class="fz-sm lh-lg text-center text-custom-gray-400">
          Don’t have an account yet?
          <a href="javascript:;" class="font-weight-bold">Sign up</a>
        </p>
      </div>
      <!-- 地標 -->
      <div
        class="offset-md-3 offset-lg-0 col-md-6 d-none d-md-flex justify-content-center justify-content-lg-start align-items-end pb-4"
      >
        <div class="login__location">
          <span class="material-icons mr-2">
            place
          </span>
          Osaka Castel, Japan
        </div>
      </div>
    </div>
  </section>
  <!-- 背景圖 -->
  <div class="login__background position-absolute d-none d-md-block">
    <div class="container-fluid h-100">
      <div class="row h-100">
        <div class="col-12 col-lg-7 h-100 bg-cover"></div>
      </div>
    </div>
  </div>
</main>
